In [1]:
import pandas as pd
bookings = pd.read_csv('bookings.csv', sep = ';')

In [9]:
bookings_head = bookings.head(n=7) # берем первые 7 строк

In [29]:
bookings.shape

(119390, 21)

In [16]:
bookings.dtypes.value_counts() # сколько раз встречается каждый тип данных

object     10
int64      10
float64     1
dtype: int64

In [27]:
def preprocess_columns(column_header):
    return column_header.lower().replace(' ', '_')
bookings = bookings.rename(columns=lambda col_header: preprocess_columns(col_header)) # препроцессинг столбцов

In [28]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [49]:
bookings['is_canceled'].value_counts() # 1 - заказ отменен

0    75166
1    44224
Name: is_canceled, dtype: int64

In [82]:
most_orders_countries = bookings.query(" is_canceled == '0'") \
            .groupby(['country', 'is_canceled']).size()
most_orders_countries

country  is_canceled
ABW      0                2
AGO      0              157
AIA      0                1
ALB      0               10
AND      0                2
                       ...
VEN      0               14
VNM      0                6
ZAF      0               49
ZMB      0                1
ZWE      0                2
Length: 165, dtype: int64

In [81]:
most_orders_countries.sort_values() # в каких странах наибольшее количество успешных заказов

country  is_canceled
PLW      0                  1
MDG      0                  1
MLI      0                  1
MMR      0                  1
MRT      0                  1
                        ...
DEU      0               6069
ESP      0               6391
FRA      0               8481
GBR      0               9676
PRT      0              21071
Length: 165, dtype: int64

In [90]:
avg_total_nights_resort_hotel = bookings.query('hotel == "Resort Hotel"').agg({'stays_total_nights' : 'mean'})
avg_total_nights_resort_hotel.round(2) #avg night number

stays_total_nights    4.32
dtype: float64

In [91]:
avg_total_nights_city_hotel = bookings.query('hotel == "City Hotel"').agg({'stays_total_nights' : 'mean'})
avg_total_nights_city_hotel.round(2)

stays_total_nights    2.98
dtype: float64

In [92]:
bookings.query('reserved_room_type ! = assigned_room_type') # overbooking situations

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

In [105]:
total_orders_in_month_2016 = bookings.query('arrival_date_year== 2016').groupby('arrival_date_month').size()
total_orders_in_month_2016.sort_values() # количество заказов на каждый месяц в 2016

arrival_date_month
January      2248
December     3860
February     3891
November     4454
July         4572
March        4824
August       5063
June         5292
September    5394
April        5428
May          5478
October      6203
dtype: int64

In [106]:
total_orders_in_month_2017 = bookings.query('arrival_date_year== 2017').groupby('arrival_date_month').size()
total_orders_in_month_2017.sort_values() # количество заказов на каждый месяц в 2017

arrival_date_month
January     3681
February    4177
August      4925
March       4970
July        5313
June        5647
April       5661
May         6313
dtype: int64

In [110]:
bookings.query('hotel== "City Hotel" and is_canceled == 1').groupby(['arrival_date_year', 'arrival_date_month']).size()
# сколько заказов City Hotel было отменено по каждому месяцу в разные года

arrival_date_year  arrival_date_month
2015               August                1232
                   December               668
                   July                   939
                   November               301
                   October               1321
                   September             1543
2016               April                 1539
                   August                1247
                   December              1072
                   February               930
                   January                438
                   July                  1043
                   June                  1720
                   March                 1108
                   May                   1436
                   November              1360
                   October               1947
                   September             1567
2017               April                 1926
                   August                1123
                   February               971
                   January               1044
                   July                  1324
                   June                  1808
                   March                 1278
                   May                   2217
dtype: int64

In [113]:
bookings.agg({'adults' : 'mean', 'children':'mean', 'babies':'mean'})

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [118]:
bookings['total_kids'] = bookings['children'] + bookings['babies']
bookings.query("hotel == 'City Hotel'").groupby('hotel').agg({'total_kids' : 'mean'})

            total_kids
hotel
City Hotel    0.096311

In [120]:
bookings.query("hotel == 'Resort Hotel'").groupby('hotel').agg({'total_kids' : 'mean'}).round(2)

              total_kids
hotel
Resort Hotel        0.14

In [126]:
bookings['has_kid'] = bookings['total_kids'].apply(lambda x: True if x >= 1 else False)

In [138]:
bookings.query('has_kid == True')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kid
13,Resort Hotel,0,18,2015-07-01,2015,July,27,1,0,4,...,0,HB,ESP,G,G,Transient,Check-Out,2015-07-05,1.0,True
45,Resort Hotel,1,47,2015-07-02,2015,July,27,2,2,5,...,0,BB,PRT,G,G,Transient,Canceled,2015-06-02,2.0,True
55,Resort Hotel,0,1,2015-07-02,2015,July,27,2,0,1,...,0,BB,ESP,C,C,Transient,Check-Out,2015-07-03,2.0,True
65,Resort Hotel,0,10,2015-07-03,2015,July,27,3,0,2,...,0,BB,USA,G,H,Transient,Check-Out,2015-07-05,2.0,True
87,Resort Hotel,1,79,2015-07-03,2015,July,27,3,6,15,...,0,BB,PRT,A,A,Transient,Canceled,2015-04-15,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119270,City Hotel,0,0,2017-08-29,2017,August,35,29,0,3,...,0,BB,ROU,A,D,Transient,Check-Out,2017-09-01,1.0,True
119287,City Hotel,0,167,2017-08-27,2017,August,35,27,2,4,...,0,BB,AUT,D,D,Transient,Check-Out,2017-09-02,1.0,True
119293,City Hotel,0,243,2017-08-30,2017,August,35,30,0,3,...,0,BB,DEU,F,F,Transient,Check-Out,2017-09-02,2.0,True
119318,City Hotel,0,160,2017-08-29,2017,August,35,29,0,5,...,0,BB,GBR,A,A,Transient,Check-Out,2017-09-03,1.0,True
119319,City Hotel,0,45,2017-08-28,2017,August,35,28,1,5,...,0,BB,GBR,F,F,Transient,Check-Out,2017-09-03,2.0,True

In [128]:
bookings.query('is_canceled == 1 and has_kid == True')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kid
45,Resort Hotel,1,47,2015-07-02,2015,July,27,2,2,5,...,0,BB,PRT,G,G,Transient,Canceled,2015-06-02,2.0,True
87,Resort Hotel,1,79,2015-07-03,2015,July,27,3,6,15,...,0,BB,PRT,A,A,Transient,Canceled,2015-04-15,1.0,True
105,Resort Hotel,1,26,2015-07-04,2015,July,27,4,2,5,...,0,BB,PRT,H,H,Transient,Canceled,2015-06-09,2.0,True
148,Resort Hotel,1,34,2015-07-05,2015,July,28,5,2,4,...,0,BB,PRT,H,H,Transient,Canceled,2015-06-17,2.0,True
223,Resort Hotel,1,280,2015-07-08,2015,July,28,8,2,5,...,0,HB,PRT,D,D,Contract,Canceled,2015-04-15,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82280,City Hotel,1,39,2015-12-25,2015,December,52,25,2,3,...,0,BB,PRT,D,D,Transient,No-Show,2015-12-25,1.0,True
82333,City Hotel,1,1,2015-12-29,2015,December,53,29,0,4,...,1,BB,PRT,B,B,Transient,Canceled,2015-12-29,1.0,True
82406,City Hotel,1,66,2015-12-29,2015,December,53,29,0,5,...,0,BB,PRT,F,F,Transient,No-Show,2015-12-29,2.0,True
82648,City Hotel,1,150,2016-03-24,2016,March,13,24,1,3,...,0,BB,PRT,B,B,Transient-Party,Canceled,2016-01-04,2.0,True
87688,City Hotel,1,312,2016-11-25,2016,November,48,25,0,1,...,0,BB,PRT,B,B,Transient-Party,Canceled,2016-11-07,1.0,True

In [129]:
bookings.query('is_canceled == 1 and has_kid == False')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kid
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,0,BB,PRT,A,A,Transient,Canceled,2015-05-06,0.0,False
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,0,HB,PRT,D,D,Transient,Canceled,2015-04-22,0.0,False
10,Resort Hotel,1,23,2015-07-01,2015,July,27,1,0,4,...,0,BB,PRT,E,E,Transient,Canceled,2015-06-23,0.0,False
27,Resort Hotel,1,60,2015-07-01,2015,July,27,1,2,5,...,0,BB,PRT,E,E,Transient,Canceled,2015-05-11,0.0,False
32,Resort Hotel,1,96,2015-07-01,2015,July,27,1,2,8,...,0,BB,PRT,E,E,Transient,Canceled,2015-05-29,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110280,City Hotel,1,132,2017-04-25,2017,April,17,25,0,0,...,0,BB,FRA,D,K,Transient,Canceled,2017-04-25,0.0,False
111355,City Hotel,1,4,2017-06-05,2017,June,23,5,1,0,...,0,BB,PRT,A,A,Transient,Canceled,2017-06-05,0.0,False
111924,City Hotel,1,7,2017-05-31,2017,May,22,31,0,1,...,0,BB,PRT,A,A,Transient,Canceled,2017-05-31,0.0,False
111925,City Hotel,1,6,2017-07-17,2017,July,29,17,1,0,...,0,BB,PRT,A,D,Transient,No-Show,2017-07-17,0.0,False
117295,City Hotel,1,0,2017-08-02,2017,August,31,2,0,2,...,0,BB,PRT,A,C,Transient,No-Show,2017-08-02,0.0,False

In [140]:
bookings.query('has_kid == False')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kid
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06,0.0,False
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07,0.0,False
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07,0.0,False
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07,0.0,False
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07,0.0,False

In [141]:
round((40965 / 110058 ) * 100,2)

37.22

In [142]:
round(3259/9332 * 100,2)

34.92