In [33]:
import pandas as pd
from datetime import datetime

In [35]:
data

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [34]:
data = pd.read_csv('lesson_2_data.csv', encoding = 'windows-1251', sep=';')
data.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [4]:
data = data.rename(columns={'Номер' : 'Number' ,'Дата создания': 'Creation_date', 'Дата оплаты' : 'Payment_date',  'Статус' : 'Status',
       'Заработано' : 'Money_earned', 'Город' : 'City', 'Платежная система' : 'Payment_system'})
data.columns

Index(['Number', 'Creation_date', 'Payment_date', 'Title', 'Status',
       'Money_earned', 'City', 'Payment_system'],
      dtype='object')

In [5]:
data.columns

Index(['Number', 'Creation_date', 'Payment_date', 'Title', 'Status',
       'Money_earned', 'City', 'Payment_system'],
      dtype='object')

In [14]:
data.Title.unique()

array(['Курс обучения «Эксперт»', 'Курс обучения «Специалист»',
       'Курс обучения «Консультант»', 'Курс от Школы Диетологов. Бизнес',
       'Курс от Школы Диетологов. Повышение квалификации. ',
       'Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосписанием'],
      dtype=object)

In [31]:
ALL_MONEY = data.Money_earned.sum()
ALL_MONEY

In [27]:
money_to_city = data.query("Status == 'Завершен'") \
                    .groupby(['Title'],\
                     as_index=False).aggregate({'Money_earned':'sum', 'Number' : 'count'}). \
                    sort_values('Money_earned')

In [30]:
# check amount of money
ALL_MONEY_2 = money_to_city.Money_earned.sum()
ALL_MONEY_2

992103.5900000003

In [38]:
todays_date = datetime.today().strftime('%Y-%m-%d')

In [24]:
money_to_city_csv = money_to_city.to_csv(index=False)

In [39]:
filename = f'money_to_city_{todays_date}.csv'

In [40]:
money_to_city.to_csv(filename, index=False)